

ul.progress-tracker {
  display:table;
  width:100%;
  margin-top: 50px;
  padding: 0;

  li {
    display:table-cell;
    text-align:center;
    position: relative;
  
    .step {
      width: 30px;
      height: 30px;
      margin: 0 auto;
      text-align: center;
      background-color: red;
      border-radius: 30px;
      line-height: 30px;
      position: relative;
      z-index: 1;
    }
    
    .label {
      position:absolute;
      left: 0;
      right: 0;
      margin-top: 10px;
    }
    
    &::after {
      content: '';
      position: absolute;
      width:100%;
      background-color: #efefef;
      height: 5px;
      left: 0;
      top: 10px;
    }
    
  }
}
