.my_image_show{
	max-width	: 100%;
    max-height	: 100%;
	border	: 1px solid;
	height	: 205px;
    width	: 280px;
	border-color	:#d5d5d5;
}

#mapCanvas {
	width: 700px;
	height: 300px;
}
#infoPanel {
	float: left;
	margin-left: 10px;
}
#infoPanel div {
	margin-bottom: 5px;
}